<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
     <link rel="stylesheet" href="user.css">
</head>
<body>
    <div class="container">
        <h2>user details</h2>
           <% for(var i = 0; i < student.length; i++) { %>
            <li><%= student[i].name %></li>
          <% } %>

        
    </div>
    
</body>
</html>